<!doctype html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <title>My Note</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="mynote">
    <div class="header">
    <h1>My Note</h1>
    <div class="menu">
      <button class="btn-newnote">새노트</button>
      <button class="btn-savenote">노트저장</button>
      <button class="btn-about">about</button>
      <button id="btn-fullscreen">전체화면</button>
    </div>
  </div>

    <div class="container">
      <textarea id="note" placeholder="내용을 입력하세요"></textarea>
    </div>
    
    <ul id ="noteList"></ul>
  </div>
  
  <script type="text/template" id="noteTemplate">
  <% for(var i=0; i < notes.length; i++) { %>
  <li data-id="<%= notes[i].id %>">
    <button class="delete">×</button>
    <span class="text"><%=notes[i].context%></span>
  </li>
  <%} %>
</script>
  

<script src="js/config.js"></script>
<script src="js/app.js"></script>
<script src="js/FS.js"></script>
<script src="js/model.js"></script>
<script src="js/collection.js"></script>
<script src="js/view.js"></script>
<script src="js/tmpl.js"></script>
  
</body>
</html>